/* HOME PAGE ========================================== */
.home_page {
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto auto;
    grid-template-areas:
        "header"
        "content"
        "footer"
    ;
}

/* HEADER ========================================== */
.header_main {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-area: "header";

    display: flex;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    justify-content: space-between;

    min-height: var(--header-height-M);

    border-bottom: 1px solid var(--text-color-dark);
}

.header_main_logo {
    display: flex;
    flex: 0.5;

    font-family: "Matemasie", cursive;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header_main_logo:hover {
    cursor: pointer;
}

.header_main_menu {
    display: flex;
    flex: 1;
    justify-content: center;

    position: relative;
}

.header_main_menu:last-child {
    justify-content: end;
    flex: 0.5;
}

.header_main_menu li:first-child:has(#header_search_input) {
    height: 40px;
    justify-content: start;
    margin-right: 8px;
    padding: 0 8px 0 8px;

    border: 1px solid var(--hover-color);
    cursor: default;
}

#header_search_input {
    background-color: transparent;
    height: 100%;
    width: 100px;
    padding: 0 4px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.header_main_item {
    display: flex;
    justify-content: center;
}

.header_item_enable {
    font-weight: bold !important;
}

.header_item_enable .header_main_item_link {
    color: var(--primary-color);
}

.button_text {
    min-width: 100px;
}

.header_main_item:hover * {
    color: var(--primary-color);
}

.header_main_item:hover.button_text .header_main_item_link {
    font-weight: bold;
}

/* BODY ========================================== */
.home_body {
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-area: "content";
}

/* OUTSTANDING ================================================= */

.home_outstanding {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;

    margin: 24px 0;
}

.outstanding_title {
    font-size: 4.8rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.outstand_content {
    grid-row: 2/3;
    grid-column: 1/2;

    margin: 16px 0;
    font-size: 1.4rem;
}

.home_outstanding .button_filled {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 150px;

    margin-top: 16px;
}

.outstanding_image {
    grid-column: 2/3;
    grid-row: 1/4;

    display: flex;
    justify-content: center;
}

.outstanding_image::after {
    content: "";
    position: absolute;

    background-color: var(--tonal-color);
    height: calc(var(--outstanding-image-L) *80/100);
    width: calc(var(--outstanding-image-L) *80/100);
    border-radius: 50%;
    /* left: 0; */
}

.outstanding_image img {
    height: var(--outstanding-image-L);
    width: var(--outstanding-image-L);
    margin-top: auto;
    z-index: 1;
}

/* BEST SELLING ================================================= */
.home_best_title {
    font-size: 3.2rem;
    text-align: center;
    margin-top: 24px;
}

.home_best_list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    gap: 16px;

    margin: 24px 0;
}

.product_item {
    border-radius: 32px;
    border: 1px solid var(--hover-color);
    box-shadow: 1px 1px 4px var(--shadow-color);
    padding: 16px;

    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "image"
        "name-favorite"
        "price-cart";
}

.product_item .product_image {
    padding-top: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--hover-color);
    border-radius: calc(32px - 16px);

    grid-area: "image";
    grid-column: 1/2;
    grid-row: 1/2;
}

.product_item:hover .product_image {
    background-color: var(--tonal-color);
}

.product_item div:not(:first-child) {
    display: flex;
    justify-content: space-between;
}

.product_item .product_info {
    padding: 4px 0;
}

.product_action .product_price, .button_outline {
    justify-content: space-between;
}

.product_info .product_name {
    padding-right: 8px;
    font-weight: bold;
}

.product_action .product_price {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
}

/* BENIFIT ================================================= */
.home_benifit {
    display: flex;
    justify-content: space-around;

    background-color: var(--hover-color);
    padding: 32px 16px;
    border-radius: 24px;
    margin: 24px 0;
}

.home_benifit_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_benifit_item span {
    font-size: 3.2rem;
    padding: 8px 16px;
}

/* LEARN MORE ================================================= */
.home_learn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 16px;

    margin: 24px 0;
}

.home_learn_title {
    grid-column: 1/2;
    grid-row: 1/2;

    font-size: 2.4rem;
}

.home_learn_detail {
    grid-column: 1/2;
    grid-row: 2/3;

    text-align: justify;
    margin: 24px 0;
}

.home_learn .button_filled {
    grid-column: 1/2;
    grid-row: 3/4;

    margin-top: auto;
    width: 150px;
}

.home_learn .home_learn_image {
    grid-column: 2/3;
    grid-row: 1/4;

    height: 100%;
    min-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 24px;
}

/* HOME FOOTER ========================================== */
.home_footer {
    grid-row: 3/4;
    grid-column: 1/2;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto;
    grid-area: "footer";

    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 16px;

    border-top: 1px solid var(--text-color-dark);
}

.home_footer_logo {
    grid-row-start: 1/2;
    grid-column-start: 1/2;

    margin-bottom: auto;
}

.home_footer_menu {
    margin-bottom: auto;
    margin-right: auto;

    /* width: auto; */
}

.home_footer_menu li:first-child {
    font-weight: bold;
    text-decoration: underline;
}

.home_footer_menu li:not(:first-child) {
    margin-top: 8px;

    cursor: pointer;
}

.home_footer_menu li:not(:first-child):hover {
    font-weight: bold;
    color: var(--primary-color);
}

.home_footer_search {
    grid-column: 5/7;
    grid-row: 1/2;
    margin-bottom: auto;

    font-size: 1.2rem;
}

.footer_search_box {
    width: 100%;
    margin-top: 16px;

    display: inline-flex;
    border: 1px solid var(--hover-color);
    border-radius: 40px;
}

.footer_search_box input {
    flex: 1;

    padding: 0 16px;
}

.home_footer_copyright {
    grid-column: 1/4;
    grid-row: 2/3;

    display: inline-flex;
    justify-content: start;
}

.home_footer_social {
    grid-column: 4/7;
    grid-row: 2/3;

    display: inline-flex;
    justify-content: center;
}

/* MOBILE DEVICE ========================================== */
.m_header_main_logo {
    display: none;
}

.m_header_main_logo .m_header_home_logo {
    display: flex;
    position: relative;
    top: 4px;
}

.m_header_main_logo .m_header_home_logo span {
    padding-right: 8px;
}

.m_header_main_menu {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 250px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: var(--background-color);
    padding: 8px 16px;

    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.3s;
}

.m_header_menu_close {
    display: flex;
    position: absolute;
    left: 100%;

    background-color: white;
    padding: 8px;
    margin: 8px 16px;
    border-radius: calc(24px + 8px);
}

.m_header_main_item {
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;

    font-weight: normal;
}

.m_header_main_item span {
    padding-right: 8px;
}

.m_header_main_item_link {
    font-size: 1.4rem;
}

#m_header_input:checked~.header_overlay {
    display: block;
}

#m_header_input:checked~.m_header_main_menu {
    transform: translateX(0%);
    opacity: 1;
}

/* RESPONSIVE ========================================== */
@media screen {

    /* Desktop */
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

}

@media screen and (width >=64em) and (width < 77.5em) {

    /* Medium to Small desktop */
    body {
        width: 984px;
    }
}

@media screen and (width <64em) {

    /* Tablet*/
    body {
        width: 644px;
    }

    .header_main {
        min-height: var(--header-height-L);
    }

    main,
    footer {
        padding: 0 16px;
    }

    .m_header_main_logo {
        display: block;
    }

    .m_header_main_logo .m_header_home_logo {
        display: flex;
        position: relative;
        top: 4px;
    }

    .header_main_menu:not(:last-child) {
        display: none;
    }

    .header_overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.3;

        display: none;
        z-index: 1;
    }

    .outstanding_title {
        font-size: 3.2rem;
    }

    .outstand_content {
        font-size: 1.2rem;
    }

    .outstanding_image::after {
        height: calc(var(--outstanding-image-M) *80/100);
        width: calc(var(--outstanding-image-M) *80/100);
    }

    .outstanding_image img {
        height: var(--outstanding-image-M);
        width: var(--outstanding-image-M);
    }

    .home_best_title {
        font-size: 2.4rem;
    }

    .home_best_list {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .product_item div:not(:first-child) {
        flex-direction: column;
    }

    .home_best_list .product_item {
        padding: 8px;
    }
    .home_best_list .product_image {
        border-radius: 24px;
    }

    .product_item .product_info {
        padding: 8px 0;
    }
    .product_item .product_action .product_price, .button_outline {
        flex: 1;
        width: 100%;
        text-align: center;
        margin-top: 8px;
    }


}

@media screen and (width <=48em) {

    /* Mobile */

    body {
        width: 768px;
    }

    .header_main {
        padding: 0 16px;
        border: none;
        box-shadow: 1px 1px 4px var(--shadow-color);
    }

    .home_best_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .product_item .product_info .product_name {
        font-size: 2rem;
    }

    .product_item .product_action .product_price {
        font-size: 2rem;
    }

    .home_footer {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(4, auto);
    }

    .home_footer_logo {
        grid-row: 1/2;
        grid-column: 1/4;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .home_footer_menu {
        grid-row: 2/3;

        margin: 0 auto auto;
    }

    .home_footer_search {
        grid-column: 1/4;
        grid-row: 3/4;

        margin: 24px 0;
    }

    .home_footer_copyright {
        grid-row: 4/5;
        grid-column: 1/2;

        font-size: 1.2rem;
    }

    .home_footer_social {
        grid-row: 4/5;
        grid-column: 2/4;
    }
}